/* #like{
    

} */
#lik{
    border: 6px solid  turquoise;
    height: 300px;
    width: 200px;
    background-color: #ff6347;
    border-radius: 10px;
    position: absolute;
    top: 300px;
    left: 150px;
}
#on{
    position: absolute;
    top: 250px ;
    left: 30px ;
    background-color: yellowgreen;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    border: red 3px solid;
}
#off{
    position: absolute;
    top: 250px ;
    left: 120px ;
    background-color: yellowgreen;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    border: red 3px solid;
}